.myAuto{
  padding-top: 10px;
  background-color: rgb(229, 231, 235);
}

.myAuto header{
  height: 110px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  border: 1px red solid;
  background-color: white;
  display: block; 
  align-items: center; 
}

.myAuto header .title{
  display: flex; 
}

.myAuto header .title img{
  width: 120px;
}

.searchContainer {
  display: flex; 
  align-items: center; 
  margin-left: 14px;
  margin-right: 260px;
}

.searchInput {
  width: 260px;
  height: 30px;
  border-radius:  0 10px 10px 0; 
  border: 1px black solid;
  padding-left: 10px; 
  font-size: 12px;
}

.searchIconButton {
  height: 30px;
  border: 1px black solid;
  border-right: none;
  border-radius: 10px 0 0 10px; 
  background: none;
  padding: 1px 10px 3px 4px; 
}

.addButton{
  border-radius: 8px;
  background-color: #ffe2da;
  height: 30px;
  border: none;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  color: #fc4609;
  font-size: 12px;
  align-items: center;
}

.userLogIn{
  height: 30px;
  background: none;
  border: 1px black solid;
  border-radius: 8px;
  font-size: 12px;
  margin-left: 16px;
}

.myAuto header .catalogue{
  display: flex;
  margin-top: 18px;
  padding-left: 20px;
}

.myAuto header .catalogue a{
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  text-align: center;
  margin-right: 20px;
}

.myAuto .carList{
  display:grid; 
  grid-template-columns: repeat(4, 1fr); 
  padding-left: 60px;
  margin-top: 40px;
}

.myAuto .searchBox{
  display: block;
  width: 620px;
  height: 240px;
  background-color: white;
  margin-left: 200px;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 12px;
  border: #fc4609 1px solid;
}

.searchBoxBox{
  display: flex;
}

.priceInputs,.prudYearInputs, .otherSearches .customsPassedButtons{
  display: flex;
  align-items: center;
}

.priceInputs input , .prudYearInputs input{
  width: 100px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 6px;
  margin-left: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.otherSearches{
  margin-left: 30px;
}

.customsPassedButtons button{
  margin-top: 20px;
  background-color: white;
  border: 1px black solid;
  height: 36px;
}

.customsPassedButtons .customsPassedTrue{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.customsPassedButtons .customsPassedFalse{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}

.searchButton{
  border-radius: 10px;
  border: none;
  background-color: #fc4609;
  width: 300px;
  height: 36px;
  color: white;
  margin-left: 140px;
}

.pagination {
  margin-left: 420px;
  margin-top: 20px;
}

.pagination button{
  border: 1px solid #fc4609;
  background: #fc4609;
  color: white;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
}