.currencyDownToggle{
    background-color: white;
    color: black;
    height: 28px;
    font-size: 10px;
    margin-left: 14px;
    border: 1px black solid;
    align-items: center;
}

.colourDropDown{
    margin-top: 50px;
    height: 36px;
    width: 260px;
    background-color: white;
    border: 1px black solid;
    color: black;
}